@media screen and (max-width: 768px) {
    header {
        .logo {
            text-align: center;
        }

        .redes-sociales {
            display: none;
        }

        .menu {
            ul {
                text-align: center;

                li {
                    float: none;
                }
            }
        }
    }

    .main {
        .titulo-seccion {
            > div {
                padding: 0 0.9375em;
            }
        }

        .posts {
            .post {
                .contenedor {
                    .info {
                        .extracto {
                            height: auto;
                        }
                    }
                }
            }
        }

        .paginacion {
            > div {
                padding: 0 0.9375em;

                li {
                    margin-bottom: 0.62em;
                }
            }
        }
    }

    .sidebar {
        display: none;
    }

    footer {
        .menu {
            ul {
                text-align: center;

                li {
                    float: none;
                }
            }
        }
    }
}
